.jumbotron {
  text-align: center;
  background-image: url("../img/pizza-background-1.png");
  background-position: center;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-size: 200px;
  margin-bottom: -6.5%;
  color: white;
  text-shadow: 1px 7px 12px black;
  font-family: 'Lobster', cursive;
  margin-top: 0;
  z-index: 10;
}

.jumbotron p {
  color: white;
  text-shadow: 2px 4px 6px black;
  font-size: 32px;
  margin-top: 10%;
  margin-bottom: 0;
}

.copyright {
  font-size: 22px;
}

#pics {
  padding-bottom: 50px;
}

.row {
  text-align: center;
}

.row h1 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'Lobster', cursive;
}

.left-col {
  text-align: center;
}

.right-col {
  text-align: left;
}

hr {
  border-width: 2px;
  margin-bottom: 1%;
  background-color: black;
}

#full-width {
  width: 90%;
  margin-left: 10%;
  padding-right: 6%;
  color: white;
  text-shadow: 0 5px 10px black;
}

.mid-section {
  box-shadow: 0 4px 10px black;
}

.mid-row {
  background-image: url("../img/farmers-market.jpg");
  background-position: center;
  background-repeat: repeat-y;
  padding: 50px 0;
  color: black;
  box-shadow: 0 -4px 10px black;
}

#last-row {
  padding: 60px 0;
  box-shadow: 0 10px 10px black;
}

#last-row img {
  margin-left: 10%;
}

.description {
  width: 80%;
  margin-top: 0;
}

#veggiePic {
  border-radius: 40px;
  box-shadow: 2px 5px 10px black;
}

#dough {
  border-radius: 30px;
  box-shadow: 2px 5px 10px black;
  margin-left: 5%;
  margin-bottom: 4%;
}

.bottom-shadow {
  box-shadow: 0 4px 10px black;
}

.pizza-form {
  background-image: url("../img/pizza-background-1.png");
  background-attachment: fixed;
  background-position: top left;
  color: white;
  text-shadow: 0 3px 4px black;
  padding-top: 20px;
}

.pizza-form h1 {
  text-align: center;
  font-size: 90px;
  font-family: 'Lobster', cursive;
  text-shadow: 1px -6px 10px black;
  margin-top: -3%;
}

#order-form {
  margin: 1% 0 7% 10%;
}

.form-control {
  margin-bottom: 10px;
}

#order-form p {
  font-weight: bold;
  font-size: 16px;
}

label {
  font-size: 16px;
}

.pay-info {
  font-weight: normal;
  font-size: 14px;
}

input {
  font-size: 20px;
}

#error {
  display: none;
  margin-top: 10%;
  margin-left: 13%;
  width: 80%;
  box-shadow: 0 4px 10px black;
  text-shadow: none;
  border-radius: 10px;
}

#order-results {
  display: none;
  font-size: 16px;
  text-align: left;
  margin-left: 5%;
  width: 80%;
  margin-bottom: 10%;
  color: black;
  text-shadow: none;
  background-color: white;
  /*opacity: .9;*/
  padding: 20px;
  box-shadow: 2px 4px 8px black;
  /*border-radius: 10px;*/
}

.user-pizza-price1 {
  float: right;
}

#pay-form {
  display: none;
  margin: 1% 5%;
  width: 30%;
}

#clear-btn {
  width: 111px;
}

#payment-info {
  text-align: center;
  font-size: 24px;
}

#veggie-toppings {
  display: inline-block;
}

#toppings {
  float: right;
  display: inline-block;
  padding-right: 10px;
}

#order-btn {
  left: 0;
  width: 111px;
  margin-left: 25%;
}

#pay-btn {
  width: 40%;
  margin-left: 10%;
}

#another-pizza-btn {
  width: 40%;
  display: inline-block;
  margin: auto;
}

#total-price {
  float: right;
}

.toppings {
  font-size: 12px;
  font-style: italic;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 7px;
}

.float-topping-price-right {
  float: right;
  font-size: 12px;
  font-style: italic;
}

.user-size:hover {
  cursor: pointer;
}

.sm-md-toppings, .lrg-toppings{
  display: none;
  font-size: 14px;
  color: red;
}

.up-down li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px 0 20px;
  font-size: 18px;
  float: right;
  font-style: italic;
}

.up-down h4 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: gray;
}

.pizza-list {
  list-style: none;
}

/*.pizza-list ul > li {
  display: none;
}*/
