.jumbotron {
  text-align: center;
  background-image: url("../img/pizza-background-1.png");
  background-position: bottom;
  background-attachment: fixed;
  color: white;
  height: 400px;
}
.jumbotron h1 {
  padding-top: 100px;
  width: 30%;
  text-align: left;
  margin: auto;
  color: white;
  text-shadow: 0 4px 9px black;
}

#pics {
  margin-top: 40px;
}

.mid-section {
  height: 400px;
  margin-bottom: 10px;
}

.row {
  text-align: center;
}

.left-col {
  text-align: right;
}

.right-col {
  text-align: left;
}

.pizza-form {
  background-color: lightgray;
}

#order-form {
  margin: 1% 5%;
}
/*#dough-pic {
  background-image: url("../img/pizza-dough.jpeg");
  height: 300px;
  width: 225px;
}*/

.form-control {
  margin-bottom: 10px;
}

#order-form p {
  font-weight: bold;
  font-size: 16px;
}

label {
  font-size: 16px;
}

#error {
  display: none;
}

#order-results {
  display: none;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.sm-md-toppings, .lrg-toppings{
  display: none;
  font-style: italic;
  font-size: 12px;
}
