.jumbotron {
  text-align: center;
  background-image: url("../img/pizza-background-1.png");
  background-position: bottom;
  background-attachment: fixed;
  height: 420px;
}
.jumbotron h1 {
  padding-top: 100px;
  font-size: 80px;
  margin: auto;
  color: white;
  text-shadow: 0 4px 9px black;
}

h4 {
  color: white;
  text-shadow: 0 4px 6px black;
}

.mid-section {
  height: 500px;
  margin-bottom: 10px;
}

.row {
  text-align: center;
  margin-bottom: 80px;
}

.row h1 {
  margin-bottom: 40px;
}

.left-col {
  text-align: right;
}

.right-col {
  text-align: left;
}

.mid-row {
  background-image: url("../img/wood.jpeg");
  background-position: right;
  margin-top: 40px;
  padding: 100px 0;
  color: black;
}

#last-row {
  margin-top: 100px;
  padding: 90px 0;
}

.description {
  width: 80%;
  margin-top: 50px;
}

.pizza-form {
  background-image: url("../img/pizza-background-1.png");
  background-position: top;
  color: white;
  text-shadow: 0 3px 4px black;
  padding-top: 20px;
}

.pizza-form h1 {
  text-align: center;
}

#order-form {
  margin: 1% 5%;
  width: 30%;
}

.form-control {
  margin-bottom: 10px;
}

#order-form p {
  font-weight: bold;
  font-size: 16px;
}

label {
  font-size: 16px;
}

.pay-info {
  font-weight: normal;
  font-size: 14px;
}

#error {
  display: none;
}

#order-results {
  display: none;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: auto;
  color: black;
  text-shadow: none;
}

#pay-form {
  display: none;
  margin: 1% 8%;
  width: 30%;
}

#payment-info {
  text-align: center;
  font-size: 24px;
}

.sm-md-toppings, .lrg-toppings{
  display: none;
  font-style: italic;
  font-size: 12px;
}

.alert {
  text-shadow: none;
}

img {
  margin: auto;
}
